  canvas {
    height: 300px;
    width: 300px;
    margin: 10px auto;
  }
  #topline {
    margin-top: 0;
    margin-bottom: 0;
  }
  a:link {
    color: #005F84;
  }
  body {
    background-color: #0b1219;
    color: #FAD9D4;
    padding: 0px;
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }
  .button-link {
    min-width: 120px;
    margin-top: 20px;
    font-size: 1.7em;
    display: inline-block;
    border-radius: 1rem;
    padding: 12px;
    background-color: #282d48;
    color: #ffbc95;
    border: 2px solid #e7a59a;
    font-family: 'Anonymous';
  }
  .tagline {
    font-family: 'Anonymous';
    line-height: 1;
  }
  #tagline-top {
    margin-block-end: 0;
  }
  #tagline-bottom {
    margin-block-start: 0;
  }
  h1 {
    font-family: 'Anonymous';
    font-size: 3em;
  }
  h2 {
    font-family: 'Anonymous';
    font-size: 1.7em;
  }
  h3 {
    font-family: 'Anonymous';
    font-size: 1.7em;
  }
  p {
    font-size: 1.3em;
    text-align: left;
    line-height: 1.7;
  }
  .container {
    margin: 0px auto;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
  }
  .sectionText {
    margin-left: 20px;
    margin-right: 20px;
  }
  @font-face {
    font-family: "Anonymous";
    src: url("./fonts/anonymous_pro.ttf") format("truetype");
  }
  @font-face {
    font-family: "Anonymous-bold";
    src: url("./fonts/anonymous_pro_b.ttf") format("truetype");
  }

  #how-sourcecred-works {
    max-width: 900px;
    margin: 0 auto;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  .card {
    border: 1px solid #87738c;
    border-radius: .25rem;
    padding: 12px;
    background-color: #111c27;
  }
  .card h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  .card p {
    margin: 0;
  }
