#topline {
  margin-top: 0;
  margin-bottom: 0;
}
a:link {
  color: #e7a59a;
}
a:visited {
  color: #cd828f;
}
body {
  background-color: #0b1219;
  color: #fad9d4;
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.button-link {
  min-width: 120px;
  margin-top: 0.5em;
  display: inline-block;
  border-radius: 1rem;
  padding: 12px;
  background-color: #282d48;
  color: #ffbc95;
  border: 2px solid #e7a59a;
  font-family: "Anonymous";
}
#tagline {
  font-family: "Anonymous";
  line-height: 1;
  margin: 20px auto;
}

#tagline h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}

h1 {
  font-family: "Anonymous";
}
h2 {
  font-family: "Anonymous";
}
h3 {
  font-family: "Anonymous";
  text-transform: lowercase;
}
p {
  text-align: left;
  line-height: 1.7;
}
.container {
  margin: 0px auto;
  padding: 20px;
  max-width: 1200px;
  text-align: center;
}

.section-header {
  text-transform: lowercase;
}

@font-face {
  font-family: "Anonymous";
  src: url("./fonts/anonymous_pro.ttf") format("truetype");
}
@font-face {
  font-family: "Anonymous-bold";
  src: url("./fonts/anonymous_pro_b.ttf") format("truetype");
}

#how-sourcecred-works {
  max-width: 900px;
  margin: 0 auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.card {
  border: 1px solid #87738c;
  border-radius: 0.25rem;
  padding: 12px;
  background-color: #111c27;
}
.card h3 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.card p {
  margin: 0;
}

canvas {
  margin: 10px auto;
}

/** Default sizes (for small screens) */
canvas {
  height: 300px;
  width: 300px;
}
.button-link {
  font-size: 1.5em;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.7em;
}
p {
  font-size: 1.1em;
}
.section-header {
  font-size: 2em;
}

@keyframes breathe {
  from {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.hero-logo .logo-ray:not([data-layer="base"]) {
  animation: breathe 8s infinite both cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.hero-logo .logo-ray:nth-of-type(2n) {
  animation-delay: 0s;
}
.hero-logo .logo-ray:nth-of-type(2n + 1) {
  animation-delay: -4s;
}

@media (min-width: 750px) {
  canvas {
    height: 350px;
    width: 350px;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  .section-header {
    font-size: 3.3em;
  }
  .button-link {
    font-size: 2em;
  }
  p {
    font-size: 1.7em;
  }
}
