  canvas {
    height: 256px;
    width: 256px;
    margin: 0px auto;
  }
  #topline {
    margin-top: 0;
    margin-bottom: 0;
  }
  a:link {
    color: #005F84;
  }
  body {
    background-color: #0b1219;
    color: #FAD9D4;
    font-family: 'Anonymous';
    padding: 0px;
    margin: 0px;
  }
  .button-link {
    min-width: 120px;
    margin-top: 10px;
    font-size: 1.5em;
    display: inline-block;
    border-radius: .25rem;
    padding: 8px;
    background-color: #282d48;
    color: #ffbc95;
    border: 1px solid #e7a59a;
  }
  .down-arrow-wrapper{
    position: absolute;
    margin: 0px auto;
    top: 94vh;
    left: 50%;
  }
  .down-arrow {
    position: relative;
    left: -50%;
  }
  .down-arrow line {
    stroke: #FAD9D4;
    stroke-width: 1;
  }
  .no-bottom-margin {
    margin-block-end: 0;
  }
  .no-top-margin {
    margin-block-start: 0;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
    text-align: left;
  }
  .container {
    margin: 0px auto;
    padding: 10px;
    max-width: 900px;
    text-align: center;
  }
  .page {
    height: 100vh;
  }
  .sectionText {
    margin-left: 20px;
    margin-right: 20px;
  }
  @font-face {
    font-family: "Anonymous";
    src: url("./fonts/anonymous_pro.ttf") format("truetype");
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .card {
    border: 1px solid #87738c;
    border-radius: .25rem;
    padding: 12px;
    background-color: #111c27;
  }
  .card h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  .card p {
    margin: 0;
  }
